@model Practic.Models.Models.Lombard.Pledge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pledge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PledgeType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PledgeType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sampling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sampling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
