@model Practic.Models.Models.Lombard.Operation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.SurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.SurName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pledge.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pledge.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceGram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceGram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceProducts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceProducts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceRefund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceRefund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommissionPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommissionPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorageDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorageDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
